.subhead-serif
{
	font-family: gentium-book-basic-i7, serif;
}

.body
{
	font-family: gentium-book-basic-n4, serif;
}

.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u112-4
{
	font-family: gentium-book-basic-n4, serif;
}

#u110-2
{
	font-family: pt-sans-n7, sans-serif;
}

