.version.index /* version checker */
{
	color: #00001A;
	background-color: #497F93;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ppu219
{
	z-index: 0;
	margin-right: -10000px;
	margin-top: 20px;
	width: 106.78%;
}

#pu219
{
	z-index: 2;
	width: 94.83%;
}

#u219
{
	z-index: 2;
	background-color: #2E17FF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 94.66%;
	left: 0%;
	margin-left: 2.06%;
}

#u219_position_content
{
	margin-bottom: -1px;
	padding-top: 57px;
	width: 100%;
}

#u106-4
{
	z-index: 3;
	width: 960px;
	min-height: 38px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#pu107-6
{
	z-index: 7;
	width: 0.01px;
	margin-left: 4px;
	margin-top: 26px;
}

#u107-6
{
	z-index: 7;
	width: 952px;
	min-height: 51px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u107-2
{
	color: #FFFFFF;
}

#u107-4
{
	color: #4A3DFF;
}

#u111
{
	z-index: 48;
	width: 926px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: -5px;
}

#u113
{
	z-index: 49;
	width: 926px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u115
{
	z-index: 51;
	width: 418px;
	height: 19px;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u114
{
	z-index: 50;
	width: 419px;
	height: 19px;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 487px;
}

#u112-4
{
	z-index: 52;
	width: 85px;
	min-height: 17px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 4px;
	text-align: center;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 24px;
	letter-spacing: 3px;
	font-family: gentium-book-basic, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 421px;
}

#u109-21
{
	z-index: 22;
	width: 304px;
	min-height: 164px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 9px;
	margin-left: 20px;
}

#u109-2,#u109-4,#u109-6
{
	color: #434CFF;
}

#u109-7
{
	color: #405DFF;
}

#u110-5
{
	z-index: 43;
	width: 399px;
	min-height: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
	left: 345px;
	margin-left: 20px;
}

#u110-2
{
	color: #1732FF;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
}

#u165
{
	z-index: 60;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2467px;
	width: 93.01%;
	left: 0%;
	margin-left: 2.06%;
}

#u175
{
	z-index: 62;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1135px;
	width: 67.8%;
	left: 32.21%;
	margin-left: 2.06%;
}

#u185
{
	z-index: 64;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1741px;
	width: 33.44%;
	left: 32.62%;
	margin-left: 2.06%;
}

#u195
{
	z-index: 66;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2084px;
	width: 56.18%;
	left: 34.68%;
	margin-left: 2.06%;
}

#u205-4
{
	z-index: 68;
	min-height: 308px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1753px;
	width: 26.55%;
	left: 68.11%;
	margin-left: 2.06%;
}

#u109-9,#u109-11,#u109-13,#u109-15,#u109-16,#u205-2
{
	color: #0000FF;
}

#u209
{
	z-index: 72;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 839px;
	width: 47.74%;
	left: 45.68%;
	margin-left: 2.06%;
}

#u209_img
{
	padding-bottom: 0.215377221633841%;
	width: 100%;
}

#u222
{
	z-index: 74;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	width: 32%;
	left: 61.42%;
	margin-left: 2.06%;
}

#ppu108-9
{
	z-index: 0;
	margin-top: 19px;
	width: 94.93%;
}

#pu108-9
{
	z-index: 13;
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 58.18%;
}

#u108-9
{
	z-index: 13;
	width: 304px;
	min-height: 164px;
	background-color: transparent;
	position: relative;
	left: 0px;
	margin-left: 49px;
}

#u108-2,#u108-4,#u108-6
{
	color: #002CF9;
}

#u238
{
	z-index: 94;
	background-color: transparent;
	position: relative;
	width: 100%;
	left: 0%;
	margin-left: -5.84%;
}

#u232-14
{
	z-index: 76;
	min-height: 470px;
	background-color: transparent;
	color: #2400F2;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	width: 40.4%;
	left: 59.61%;
	margin-left: -3.4%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 6003px);
}

#pu145
{
	z-index: 56;
	width: 93.96%;
	margin: -1537px -10000px -813px 3.4375000000000004%;
}

#u145
{
	z-index: 56;
	background-color: transparent;
	position: relative;
	width: 56.99%;
	margin-left: 40.14%;
}

#pu235-4
{
	z-index: 90;
	margin-top: 1354px;
	width: 100%;
}

#u235-4
{
	z-index: 90;
	min-height: 369px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	width: 52.89%;
}

#u248
{
	z-index: 96;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 45.79%;
	left: 54.22%;
}

#u155
{
	z-index: 58;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
	width: 81.82%;
	margin-left: 0.45%;
}

#u165_img,#u175_img,#u185_img,#u195_img,#u222_img,#u238_img,#u145_img,#u248_img,#u155_img
{
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 1338px;
}

.verticalspacer
{
	min-height: 1px;
}

